---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- assign currentdate = post.date | date: "%B %Y" -%}
        {%- if currentdate != date -%}
          <h1 class="post-date-heading" id="y{{currentdate}}">{{ currentdate }}</h1>
        {%- endif -%}
        {%- assign date = currentdate -%}
        <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          &mdash;
          <span class="post-meta">{{ post.author }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {%- if post.title > post.excerpt -%}
            {{ post.excerpt }}
          {%- endif -%}
        {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
